<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<a th:href="@{/shop}" class="btn btn-secondary rounded-pill">back to shop </a>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>IMG</th>
                    <th>Name product</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${cart.products}">
                    <td>
                        <img th:src="${item.key.img}" style="height: auto;width:100px ">
                    </td>
                    <td th:text="${item.key.nameProduct}"></td>
                    <td th:text="${item.key.price}"></td>
                    <td th:text="${item.key.description}"></td>
                    <td>
                        <a th:href="@{/remove/__${item.key.id}__(action='show')}" th:text="${'-'}"
                           class="btn btn-outline-primary"></a>
                        <span th:text="${item.value}"></span>
                        <a th:href="@{/add/__${item.key.id}__(action='show')}" th:text="${'+'}"
                           class="btn btn-outline-primary"></a>
                    </td>
                <tr>
                    <td colspan="3"><h4>ToTal</h4></td>
                    <td colspan="2" th:text="${cart.totalPrice()}"></td>
                </tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>