<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${customerList}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.address}"></td>
        <td><a th:href="@{/customer/edit/__${item.id}__}">Edit</a></td>
        <td><a th:href="@{/customer/delete/__${item.id}__}">Delete</a></td>
        <td><a th:href="@{/customer/view/__${item.id}__}">View</a></td>

    </tr>

    </tbody>
</table>




</body>
</html>